@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext');

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #727e86;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

section {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* Common Styles */
.invisible {
  opacity: 0;
}


/* ???????? */
.header-controls-profile {
  position: relative;
  background-position: -32px 0;
}

/* Bootstrap */
.nav-link.active {
  color: #ff0000;
}

h2, .h2 {
  margin-bottom: 1.5em;
  margin-top: 2em;
}

.btn {
  padding: 5px 10px;
  background-color: #e4e6e6 ;
  border-radius: 5px;
}
.btn-outline-primary {
  color: #727e86;
  border-color: #727e86;
}

.btn-outline-primary:hover {
  background-color: #727e86;
  border-color: #727e86;
}


/* МОИ */
/* *************** */
.container {
  margin-top: 20px;
  margin-left: 10px;
  /* width: 100%; */
}

.active {
  color: red;
  background-color: lightcyan;
}

.row {
  display: flex;
  justify-content:space-around;
  background-color: rgb(234, 233, 233);

}

.title-block {
  color: darkblue;
}


.home {
  margin-left: 10px;
}

.text-center {
  display: flex;
  justify-content: center;
}

.home-catalog-menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

/* *************** */

.menu-button {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}

.home-catalog-goods {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

/* кнопка "Загрузить ещё" */
.button-more,
.button-product {
  padding: 5px 10px;
  border-radius: 5px;
  color: chocolate;
  border: 1px, solid, chocolate;
  background-color: rgb(249, 244, 236);
  font-size: 16px;
  /* margin-top: 15px; */
  
}

.button-more {
  margin-top: 15px;
}

/* Таблица */
.table,
.product-info,
.btn-my {
  margin-top: 20px;
  margin-bottom: 20px;
}

tr,
td,
.catalog-item {
  padding: 10px;
};

.btn-my {
  width: 100%;
  color: white;
  background-color: hotpink;
}

/* Таблицы */
table, 
th, 
td , tr{ 
  border: 1px solid black; 
  border-collapse: collapse; 
}

th , .form-control {
  padding: 5px 10px;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-form {
  width: 25rem;
}

.form-group {
  margin-top: 20px;
  /* font-size: 20px; */
}


.form-check {
  margin-bottom: 20px;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}